#prev{
	position: absolute;
	top: 0;
	z-index: 101;
	border: 0;
	margin: auto;
	bottom: 0;
	left: 0;
	border-radius: 0px;
	background-color: rgba(255, 255, 255, 0.62);
}
#next{
	position: absolute;
	top: 0;
	z-index: 101;
	border: 0;
	margin: auto;
	bottom: 0;
	right: 0;  			
	border-radius: 0px;
	background-color: rgba(255, 255, 255, 0.62);
}  		
.icon-keyboard_arrow_right,.icon-keyboard_arrow_left{
	font-size: 25px;
}
#amd-brand{
	color:#e08585;
}
.cycle-slideshow img{
	width:100% !important;
    top: 0px;
    left: 0px;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 0px;	
}	

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4q0pgj');
  src:  url('fonts/icomoon.eot?4q0pgj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4q0pgj') format('truetype'),
    url('fonts/icomoon.woff?4q0pgj') format('woff'),
    url('fonts/icomoon.svg?4q0pgj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_right:before {
  content: "\e900";
}
.icon-keyboard_arrow_left:before {
  content: "\e901";
}

.gallery img {
  cursor: pointer;
}